<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Filmueb</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Administracja:</h1>
<table>
    <tr th:each="userList:${userList}">
        <td style="width: 20px" th:text="${userList.id}">1</td>
        <td style="width: 150px" th:text="${userList.enabled}">Marcin</td>
        <td style="width: 150px" th:text="${userList.username}">UberAdmin</td>
        <td style="width: 400px">
            <form th:action="@{/admin/changerole}" method="post">
                <label>User:</label>
                <input style="" type="radio" name="role" value="ROLE_USER"
                       th:checked="${userList.role=='ROLE_USER'}"/>
                <label>Moderator:</label>
                <input type="radio" name="role" value="ROLE_MODERATOR" th:checked="${userList.role=='ROLE_MODERATOR'}"/>
                <label>Admin:</label>
                <input type="radio" name="role" value="ROLE_ADMIN" th:checked="${userList.role=='ROLE_ADMIN'}"/>
                <input type="hidden" name="username" th:value="${userList.username}"/>
                <input type="submit" value="Zmien rolę"/>
            </form>
        </td>
    </tr>
</table>

</body>
</html>